/* -----------------------------------------------------------
configure the launcher app panel structure
three panels define the main page (server-panel, server-panel-toggle, and a BrowserView) 
----------------------------------------------------------- */
body {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif; 
    font-size: 15px;
    border-top: 1px solid #888;
} 
#server-panel, #server-panel-toggle {
    position: absolute;
    top: 0px;    
    height: 100vh;
}
#server-panel {
    left: 0px;
    padding: 10px;
}

/* server-panel tall vertical show/hide button */
#server-panel-toggle {
    left: 604px;
    border: 1px solid #888;
    border-top: none;
    border-bottom: none;
    background-color: #dfdfdf;
    line-height: 100vh;
    text-align: center;
    font-weight: bold;
    cursor: pointer; 
    padding: 0;
    width: 20px;    
}
#server-panel-toggle:hover {
    background-color: #efefef;
    color: #006;
}

/* inputs and terminal panels in the leftmost server-panel */
#server-config {
    font-size: 14px;
}
#terminal {
    border-left: 3px solid black;
    width: 581px; /* determined empirically */
}

/* -----------------------------------------------------------
style the server-panel options inputs
----------------------------------------------------------- */
hr {
    margin: 7px 0;
}
.action-hyperlink, .get-file-link, .terminal-hyperlink {
    font-size: 13px;
    margin-left: 5px;
    cursor: pointer;
}
#toggleAdvanced {
    margin-left: 200px;
}
#advancedOptions {
    display: none;
}

/* Presets */
a {
    text-decoration: none;
    color: blue;
}
a:hover {
    color: #b00;
}

/* Server Mode */
#serverModeLabel {
    margin: 7px 0;
}
#serverModes {
    font-size: 0.9em;
}
.optionLabel {
    width: 130px;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}
.optionInput input[type="text"], .optionInput input[type="number"], select {
    width: 390px;
    padding: 3px;
}
select {
    width: 290px; 
}
.optionInput input[type="checkbox"] {
    margin: 5px;
}
.fileOptionInput input[type="text"], .fileOptionInput input[type="number"]  {
    width: 335px;
    padding: 3px;
}

/* server action buttons */
.buttons button{
    display: inline-block;
    width: 100px;
    height: 35px;
    margin: 5px;
    cursor: pointer;
    /* font-weight: bold; */
    border-radius: 8px;
    border: 1px solid #888;
    background-color: #dfdfdf;
}
.buttons button:hover {
    background-color: #efefef;
    box-shadow: 1px 1px 2px #666;
    color: #006;
}
